* {
  font-family: "Courier New", Courier, monospace;
}

body {
  box-sizing: border-box;
  width: 100vw;
  /* height: 100vh; */
}

main {
  position: relative;
  padding: 40px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}

.modal > .modalInner {
  padding: 40px;
  width: 50%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal > .modalInner > span {
  font-size: 18px;
  font-weight: 700;
  display: block;
}

.modal > .modalInner > button {
  margin-top: 20px;
  font-size: 15px;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  border: 2px solid #333;
  margin-bottom: 20px;
}

ul > li {
  border: 2px solid #333;
  padding: 20px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ul > li > h3 {
  font-size: 18px;
  font-weight: 500;
}

ul > li > span {
  font-size: 16px;
  font-weight: 700;
  padding: 20px;
}
ul > li > img {
  width: 100%;
}
button,
a {
  padding: 10px 20px;
  background-color: lightgray;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
}
