@import url(https://fonts.googleapis.com/css?family=Lato:300);

.container {
  text-align: center;
  background-color: #e74c3c;
  overflow: hidden;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.loader4 {
  position: relative;
  width: 150px;
  height: 20px;

  top: 45%;
  top: -webkit-calc(50% - 10px);
  top: calc(50% - 10px);
  left: 25%;
  left: -webkit-calc(50% - 75px);
  left: calc(50% - 75px);

  background-color: rgba(255, 255, 255, 0.2);
}

.loader4:before {
  content: "";
  position: absolute;
  background-color: #fff;
  transform-origin: 100% 0%;
  /* ✅ 여기에 코드를 작성하세요 */
  height: 100%;
  top: 0;
  left: 0;
  animation: progress-bar 12s ease-in-out infinite;
}

.loader4:after {
  content: "LOADING ...";
  color: #fff;
  font-family: Lato, "Helvetica Neue";
  font-weight: 200;
  font-size: 16px;
  position: absolute;
  width: 100%;
  height: 20px;
  line-height: 20px;
  left: 0;
  top: 0;
}
.box p {
  width: 100%;
  height: 30px;
  background: #fff;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  left: 0;
  bottom: 30px;
  opacity: 0;
  transition: all 1s;
}

.loader4:hover + p {
  bottom: 0;
  opacity: 1;
}
@keyframes progress-bar {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
}
