body {
  padding: 40px;
}
h2 {
  font-size: 30px;
  font-weight: bold;
}
section {
  width: 50%;
  margin: 10px 0;
  padding: 20px;
  border-radius: 10px;
  background-color: lightcyan;
}
section > h2 {
  font-size: 20px;
  margin: 0 0 10px;
}

.mandoo-intro {
  font-size: 16px;
  line-height: 20px;
}
section > .recommend-name {
  width: 100%;
  height: 50px;
  border: none;
  font-size: 18px;
}
section > .recommend-name::placeholder {
  font-size: 18px;
  color: gray;
}
section > .recommend-name:focus {
  outline: none;
  border: 2px solid red;
}
