* {
  font-size: 13px;
}

body {
}
.container {
  width: 1240px;
  margin: 0 auto;
}
header {
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 67px;
}
.btn-download {
  color: #fff;
  background: #f60;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  height: 100vh;
  padding-top: 67px;
}
main .container {
  width: 1023px;
}
main section {
  padding-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
main h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 5px;
}
main h1 img {
  height: 28px;
}
main .search-wrap {
  width: 100%;
  max-width: 600px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 20px;
}
main .select-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #fff;
  background: #222;
  height: 50px;
  border-radius: 50px;
  padding: 0 15px;
}
main .select-wrap > img {
  max-height: 20px;
}
main .select-wrap select {
  font-size: 1rem;
  font-weight: 500;
}

main .search-bar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  width: 100%;
  height: 50px;
  border: 1px solid #eee;
  padding: 0 20px;
}
main .search-bar > div {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #666;
  padding-right: 15px;
  border-right: 1px solid #eee;
}
main .search-bar > div select {
  font-size: 1rem;
  font-weight: 500;
}
main .search-bar > div + input {
  padding: 0 15px;
  font-size: 1rem;
}
main .search-bar > div + input::placeholder {
  color: #aaa;
  font-weight: 400;
}
main .btn-search {
  background: #222;
  border-radius: 50%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
main .btn-search > img {
  height: 18px;
}
.best-word {
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
  font-size: 13px;
}
.best-word dt {
  color: #aaa;
}
.best-word dd {
  color: #777;
}

.service-btn {
  display: flex;
  gap: 20px;
}
.service-btn li > a {
  border-radius: 10px;
  background: #f3f4f5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 120px;
  aspect-ratio: 1/1;
  padding: 15px;
}
.service-btn li > a > img {
  height: 25px;
}
.service-btn li > a > h3 {
  font-size: 1rem;
  font-weight: 500;
}
.local-btn {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px 10px;
  padding: 0 50px;
}
.local-btn > li {
  padding: 12px 15px;
  white-space: nowrap;
  background: #f3f4f5;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.local-btn > li > a {
  font-size: 0.85rem;
  font-weight: 500;
}

footer {
  display: flex;
  flex-direction: column;
}
footer .link-wrap {
  display: grid;
  grid-template-columns: 33% 1fr;
  padding: 0 0 50px;
  border-bottom: 1px solid #eee;
}
footer .logo {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
footer .logo img {
  height: 25px;
}
footer .sns-wrap {
  display: flex;
  gap: 20px;
}
footer .site-map {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
}
footer .site-map nav {
  display: flex;
  flex-direction: column;
}
footer .site-map nav h6 {
  font-weight: 600;
  margin-bottom: 15px;
}
footer .site-map nav > a {
  font-size: 0.85rem;
  font-weight: 400;
  padding: 7.5px 0;
  color: #333;
}

footer .copy-wrap {
  padding: 50px 0;
}
footer .copy {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
footer .copy > div {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #888;
  font-weight: 400;
}
footer .copy > div strong {
  font-weight: 600;
}
footer .copy > div .line {
  width: 1px;
  height: 10px;
  background: #777;
  margin: 0 2.5px;
  vertical-align: center;
}
footer .copy2 {
  margin: 20px 0;
  font-size: 14px;
  color: #888;
  display: flex;
  align-items: center;
  gap: 20px;
}
footer .copy2 strong {
  font-weight: 700;
}
