* {
  font-family: "NanumBarunGothic";
}
body {
  font-family: "nbg", "맑은 고딕", HelveticaNeue, DroidSans, Sans-serif,
    Helvetica;
  font-size: 1em;
  line-height: 1;
  min-width: 320px;
  overflow-x: hidden;

  padding-top: 150px;
}

header {
  background: #f6f5ef;
  border-bottom: 1px solid #e5e5e5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 2px solid #000;
  z-index: 999;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .gnb {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  color: #444;
}
header .gnb .util-nav {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.8rem;
  padding: 20px 0;
}
header .gnb .util-nav > a {
  padding: 0 10px;
  border-right: 1px solid #ccc;
}
header .gnb .util-nav > a:last-of-type {
  border-right: none;
}
.btn-search {
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
header .gnb .main-nav {
  display: flex;
  align-items: center;
  /* gap: 40px; */
}
header .gnb .main-nav > li {
  font-size: 0.8rem;
  font-weight: 300;
  padding: 10px 20px 40px;
}
header .gnb .main-nav > li:hover {
  background: #2c2a29;
  color: #669900;
}
header .gnb .main-nav > li:hover > a {
  text-decoration: underline;
}

header .sub-nav {
  max-height: fit-content;
  background: #2c2a29;
  transition: all 0.3s;
  position: absolute;
  top: 145px;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
}
header .gnb .main-nav > li:hover .sub-nav {
  /* visibility: visible; */
  height: max-content;
}
header .sub-nav .menu-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
}

header .sub-nav .menu-container > li {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
header .sub-nav .menu-container > li > a {
  font-weight: 600;
  font-size: 1rem;
}
header .sub-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
header .sub-menu > li > a {
  color: #999;
  font-size: 0.8rem;
  font-weight: 400;
}
header .sub-menu > li > a:hover {
  text-decoration: underline;
  text-align: center;
}

.container {
  width: 1100px;
  margin: 0 auto;
}
main {
  padding-bottom: 40px;
}
main .top-sec {
  padding: 50px 0;
}
main .top-sec .title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .top-sec .title-wrap > h1 {
  font-size: 2rem;
  font-weight: 500;
}
main .top-sec .title-wrap > .site-map {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.8rem;
}
main .top-sec .title-wrap > .site-map > a:not {
  color: #666;
}
main .top-sec .filter-box {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 25px 0;
  padding: 30px;
}
main .top-sec .filter-box .title-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 25px;
  border-bottom: 1px solid #ddd;
}
main .top-sec .filter-box .title-wrap h2 {
  font-size: 1.2rem;
  font-weight: 600;
}
main .top-sec .filter-box .filter-wrap {
  padding-top: 25px;
}
main .top-sec .filter-box .filter-wrap .tab-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

main .top-sec .filter-box .filter-wrap .tab-wrap input[type="radio"] + label {
  padding: 10px;
  min-width: 200px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: #f4f4f1;
  color: #222;
  cursor: pointer;
}
main
  .top-sec
  .filter-box
  .filter-wrap
  .tab-wrap
  input[type="radio"]:checked
  + label {
  background: #006633;
  color: #fff;
}
main .top-sec .filter-box .filter-wrap .checkbox-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px 25px;
  margin-top: 20px;
  font-size: 0.9rem;
}
main .top-sec .filter-box .filter-wrap .checkbox-wrap > input + label {
  position: relative;
  display: flex;
  gap: 10px;
  color: #444;
}
main .top-sec .filter-box .filter-wrap .checkbox-wrap > input + label::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(./img/ck_icon.jpg) no-repeat center;
}
main
  .top-sec
  .filter-box
  .filter-wrap
  .checkbox-wrap
  > input:checked
  + label::before {
  background: url(./img/ck_icon_on.jpg) no-repeat center;
}

.content-sec {
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}
.content-sec .view-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}
.content-sec .view-wrap input[type="radio"] + label {
  padding: 7px 10px;
  border: 1px solid #ccc;
  background: #fff;
  color: #999;
  font-size: 12px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.content-sec .view-wrap input[type="radio"]:checked + label {
  background: #666;
  color: #fff;
}

.content-sec .select-wrap {
  width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content-sec .select-wrap select {
  color: #444;
  border: none;
  appearance: none;
}
.content-sec .list-wrap {
  grid-column: 1/3;
}
.content-sec .list-wrap h3 {
  background: #f4f4f2;
  padding: 10px 20px;
  border-radius: 3px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.content-sec .list-wrap h3 > img {
  height: 35px;
}
.content-sec .list-wrap h3 > span {
  font-size: 0.8rem;
  color: #777;
}
.content-sec .coffee-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px 20px;
}
.content-sec .coffee-list > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.content-sec .coffee-list > li > a {
  width: 250px;
  aspect-ratio: 1/1;
  overflow: hidden;
}
.content-sec .coffee-list > li > a > img {
  width: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: all 0.5s;
}
.content-sec .coffee-list > li > a:hover > img {
  transform: scale(1.1);
  /* transition: all 0.5s; */
}
.content-sec .coffee-list > li > p {
  font-size: 0.9rem;
  color: #444;
}

footer {
  background: #2c2a29;
  color: #fff;
  font-size: 0.9rem;
  padding: 35px 0;
}
footer .container {
  width: 1200px;
}
.sitemap-sec .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  background: url(./img/footer_logo.png) no-repeat right;
}
.sitemap-sec nav {
  display: flex;
  flex-direction: column;
}
.sitemap-sec nav h6 {
  margin: 0 0 10px;
}
.sitemap-sec nav a {
  font-size: 0.8rem;
  padding: 5px 0;
}

.awards-sec {
  background: #282828;
  padding: 20px 0;
}

.copyright-sec {
  padding: 20px 0;
}

.copyright-sec .rule-wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}
.copyright-sec .rule-wrap > a {
  font-size: 0.8rem;
  padding: 0 10px;
  border-right: 1px solid #666;
}
.copyright-sec .rule-wrap > a:last-child {
  border: none;
}
.copyright-sec .btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 10px;
}
.copyright-sec .btn-wrap > a {
  border: 2px solid #fff;
  padding: 10px;
  width: 120px;
  text-align: center;
  border-radius: 3px;
}
.copyright-sec .info {
  font-size: 0.8rem;
  color: #999;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 10px 0;
}
.copyright-sec .copy {
  display: block;
  text-align: center;
  color: #999;
}
